.ECom_form
  = form_with(model: l_user, local: true) do |form|
    - if l_user.errors.any?
      #error_explanation
        %h2
          = pluralize(l_user.errors.count, "error")
          prohibited this l_user from being saved:
        %ul
          - l_user.errors.full_messages.each do |message|
            %li= message
    %h2 Enter User Details
    .field
      = form.label :name, 'Name:'
      = form.text_field :name, id: :user_name, size: 40
    .field
      = form.label :password, 'Password:'
      = form.password_field :password, id: :user_password, size: 40
    .field
      = form.label :password_confirmation, 'Confirm:'
      = form.password_field :password_confirmation, id: :user_password_confirmation, size: 40
    .actions
      = form.submit
