<p id="notice"><%= notice %></p>

<h1>L Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @l_users.each do |l_user| %>
      <tr>
        <td><%= l_user.name %></td>
        <td><%= link_to 'Show', l_user %></td>
        <td><%= link_to 'Edit', edit_l_user_path(l_user) %></td>
        <td><%= link_to 'Destroy', l_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New L User', new_l_user_path %>
