- if line_item == @current_item
  %tr.line-item-highlight
- else
  %tr
    %td
      = button_to '-', line_items_update_quantity_path(line_item), method: :post,remote: true, params: {update_action: 'decrease'}
      %td= line_item.quantity
      %td= line_item.product.title
      %td.price= number_to_currency(line_item.total_price)
      %td= button_to '+', line_items_update_quantity_path(line_item), method: :post,remote: true, params: {update_action: 'increase'}
      %td= button_to 'x', line_items_update_quantity_path(line_item), method: :post,remote: true, params: {update_action: 'remove'}