!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title E-Commerce App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.main
      = image_tag 'logo.svg'
      %h1= @page_title
    %section.content
      %nav.side_nav
        - if @cart
          #cart.carts
            = render_if @cart && @cart.line_items.any?, @cart
        %ul
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/questions"} Questions
          %li
            %a{:href => "/news"} News
          %li
            %a{:href => "/contact"} Contact

        - if session[:user_id]
          %nav.logged_in_nav
            %ul
              %li= link_to 'Orders', orders_path
              %li= link_to 'Products', products_path
              %li= link_to 'Users', l_users_path
              %li= button_to 'Logout', logout_path, method: :delete

      %main{:class => "#{controller.controller_name}"}
        = yield
